@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
p {
  color: #111;
  font-size: 300;
}
section {
  padding: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.logo {
  color: #111;
  font-weight: bold;
  font-size: 2.5em;
  text-decoration: none;
}
header .logo span {
  color: #ff0157;
}
header .navigation {
  display: flex;
  position: relative;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  color: #111;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
}

/*Body Styles*/
.banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/s29LNR86/bg.jpg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: white;
}

.banner .content p {
  font-size: 1.25em;
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #ff0157;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  font-size: 1.5em;
  margin-top: 40px;
}
.about {
  padding: 80px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row .col50 {
  width: 48%;
}

.imgbx {
  width: 100%;
  min-height: 300px;
}
.imgbx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titleText {
  font-size: 2em;
  color: #111;
  font-weight: 300;
}

.titleText span {
  font-weight: 700;
  color: #ff0157;
  font-size: 1.5em;
}

.menu {
  padding: 80px;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title span {
  font-size: 1.5em;
  color: #ff0157;
  font-weight: 700;
}

.menu-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.menu-content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px lightgray;
}
.text {
  padding: 15px 0 5px;
  text-align: center;
}
.menu-content .box .imgbx {
  width: 100%;
  height: 300px;
}
.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.expert {
  padding: 80px;
}
.expert .menu-content .box {
  width: 250px;
  margin: 30px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.testimonial {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/k5dZs5jR/bg2.jpg);
  background-size: cover;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.white {
  color: white;
}

.testimonial .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  max-width: 100%;
}
.testimonial .content .box {
  width: 350px;
  margin: 20px;
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial .content .box img {
  border-radius: 48%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.testimonial .content .box .imgbx {
  width: 100%;
  height: 300px;
}

.text h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ff0157;
  font-weight: 600;
}

.text p {
  font-style: italic;
}
